@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-color: #e4e9f7;
    --sidebar-color: rgb(162, 182, 209);
    --primary-color: #784cfb;
    --primary-color-light: #f6f5ff;
    --toggle-color: #d00;
    --text-color: #707070;
    --span-color: yellowgreen;
    --trans-03: all 0.2s ease;
  }
 

  /*=================sidebar(Header)======================*/
  
  header .text{
      font-size: 16px;
      font-weight: 500;
  }

  header .image-text .header-text{
      display: flex;
      flex-direction: column;
      padding-bottom: 1.5rem;
  }
  header .header-text .name{
      font-size: 1.5rem;
  }
 
  body{
     
    background: var(--body-color);
      padding-left: 250px;
      align-items: center;
      justify-content: center;

  }
  header{
      padding-top: 1rem;
      position: fixed;
      top : 0;
      left: 0;
      z-index: 1000;
      height: 100%;
      width: 15.625rem;
      background: var(--sidebar-color);
      display: flex;
      align-items: center;
      align-content: center;
      flex-flow: column;
      text-align: center;
      justify-content: center;
      transition: 00.5s ease-in-out;
     
  }
  header .image-text img{
      width: 90px;
      border-radius: 6px;
  }
  .navbar{
      width: 100%;
  }
 
  header li{
      height: 50px;
      list-style: none;
      display: block;
      align-items: center;
      border-radius: 6rem;

  }
  header li a{
      text-decoration: none;
      color: var(--main-color);
      border-radius: .25rem;
  }

  header li a:hover{
      background: var(--primary-color);
      color: #e4e9f7;
  }
  

  header .social-media a{
      color: blue;
      font-size: 1.3rem;
      margin: 0.2rem;
  }
  header .social-media a:hover{
      
      color: white;
      transition: .5s ease-in-out;
      text-decoration: none;
  }

  /*=================End of sidebar(Header)======================*/
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    position: relative;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*=================Menu content======================*/
  
  #menu{
    position: fixed;
    top: 1rem; left: 1rem;
    z-index: 1000;
    color: black;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 2rem;
    display: none;
    padding: 1rem 1rem;
      
}


section{
    
    min-height: 100vh; 
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}
.heading {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 3rem;

  }
  .heading span{
      color: yellowgreen;
  }
  .btn {
    display: inline-block;
    padding: 0.85rem 2rem;
    background-color: var(--sidebar-color);
    margin-top: 1rem;
    border-radius: 2rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
  }
  .btn:hover{
    background-color: yellowgreen;
    color: black;
    transition: 0.5s ease-in-out;
  }
/*=================end of menu======================*/

.hobbies .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.hobbies .box-container .box{
    flex: 1 1 20rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0.2rem .2rem .1rem var(--text-color);
    background: var(--main-color);
}
/*=================Home page======================*/
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 0 15 rem; 
    
}
.home h3{
    font-size: 2rem;
    color: var(--span-color);
}
.home h1{
    font-size: 3rem;
    color: black;
}

/*=================End of home page======================*/

/*=================About page======================*/

.about .container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-bottom: 1rem;
    
}
.about .info{
    flex: 1 1 20rem;
    color: var(--text-color);    
}
.about .info span{
    color: var(--span-color);
}
.about .info h4,.btn{
    padding-top: .5rem;
}
.about .bio img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: .5rem .2rem  .1rem yellowgreen;
}
.about h1{
    font-size: 2rem;
    padding-bottom: .5rem;
}
.about h1 span{
    color: rgb(17, 170, 221);
}

.my-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.my-skills .skill{
    flex: auto;
    background: yellow;
    
    text-align: center;
    box-shadow: .1rem .1rem 1rem .1rem var(--primary-color);
}
.my-skills .skill i{
    background:rgb(17, 170, 221) ;
    width: 100%;
}
/*=================End of about page======================*/


  
/*=================Contact page======================*/
.contacts .contact-details{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
    
}
.contacts .contact-details .information{
    flex: 1 1 20rem;
    background: #fff;
    text-align: center;
    padding: .5rem;
    box-shadow: 0.2rem .2rem .1rem var(--text-color);
    
}
.contacts .contact-form{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
   
    
}
.contacts .contact-form form{
    flex: 1 1 40rem;
    background: #fff;
    box-shadow: 0.rem .1rem .1rem var(--text-color);
    border-radius: .5rem;
    padding: 2rem;
}
.contacts .contact-form .map{
    flex: 1 1 20rem;
    border: 1rem solid #fff;
    width: 100%;
}
.contacts .contact-form form .items,
.contacts .contact-form form textarea
{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .1rem solid #333;
    color: #333;
    text-transform: none;
    padding: .5rem 0;
    
}
.contacts .contact-form form textarea{
    height: 12rem;
    resize: none;
}
.contacts .contact-form form .items:focus,
.contacts .contact-form form textarea:focus{
    outline: none;
    
}

/*=================End of contact page======================*/
footer {
    text-align: center;
    padding: 3px;
    background: var(--text-color);
    color: white;
    padding: 2rem;
  }
  footer .social-media a{
     color: #fff;
     font-size: larger;
     padding: .3rem;
     
  }
  footer .social-media a:hover{
      color: black;
      transition: .2s ease-in-out;
  }
/*=================Projects page======================*/

@keyframes slideDown {
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    overflow: auto;
    position: relative;
}

.cards .card {
    flex: 1 1 15rem;
    width: calc(50% - 13px);
    height: 160px;
    background: url("./img/E-comerce.jpg");
    color: #dc7b7b;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    position: relative;
    border: 3px solid yellowgreen;
    box-shadow: 0 0 9px #4c0505;
}
.cards #maze:hover{
    background: url("./img/Maze.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    color: blue;
}
.cards #quiz:hover{
    background: url("./img/quiz.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    color: blue;
}
.cards #website:hover{
    background: url("./img/website.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    color: blue;
}
.cards #scratch:hover{
    background: url("./img/scratch.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    color: blue;
}
.cards #react:hover{
    background: url("./img/website.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    color: blue;
}
.cards #memory:hover{
    background: url("./img/Memory.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    color: blue;
}
.cards #puzzle:hover{
    background: url("./img/puzzle.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    color: blue;
}
.cards #blur:hover{
    background: url("./img/blur.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    color: blue;
}
.cards #E-comerce:hover{
    background: url("./img/E-comerce.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    color: blue;
}
.cards #calculator:hover{
    background: url("./img/Calculator.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    color: blue;
}
.cards .card .socialPreview{
    position: absolute;
    top: 0%;
    transform: translate(-50%);
    right: 0%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    background: yellowgreen;
}
.cards .card .socialPreview a{
    padding: .3rem;
    color: blue;
}
.cards  .card h2 {
    margin: 0;
}

.card-content {
    padding: 100px 25px 25px;
    background: var(--toggle-color);
    cursor: default;
    overflow: auto;
    height: 100%;
    margin-left: 250px;
    color: #fff;
}
.card-content > * {
    transform: translateY(-35px);
    opacity: 0;
}

.card-content h2 {
    font-size: 32px;
    margin-bottom: 5px !important;
    animation: slideDown 0.5s ease-out forwards;
}
.card-content h4 {
    font-size: 25px;
    color: var(--primary-color-light);
    margin-bottom: 5px !important;
    animation: slideDown 0.5s ease-out forwards;
}
.card-content h5 {
    font-size: 20px;
    color: yellow;
    margin-bottom: 10px !important;
    animation: slideDown 0.5s ease-out forwards;
}

.card-content h5 span{
    font-size: 20px;
    color: var(--primary-color-light);
    margin-bottom: 30px !important;
    animation: slideDown 0.5s ease-out forwards;
}
.card-content img {
    width:100%;
    margin-bottom: 10px;
    animation: slideDown 0.5s ease-out 0.2s forwards;
}
.card-content p {
    color: var(--primary-color-light);
    animation: slideDown 0.5s ease-out 0.4s forwards;
}

.card-content button{
    color: white;
    background: yellowgreen;
    animation: slideDown 0.5s ease-out forwards;
    cursor: pointer;
}


/*=================End of projects ======================*/

/*=================Education ======================*/
.education .schools{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    
}
.education .schools .high{
    flex: 1 1 25rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0.1rem 0.2rem rgb(8, 5, 168);
}
.education .schools span{
    color: black;
    
}
.education .schools h4{
    color: rgb(62, 62, 165);
}

.education .schools a{
    color: black;
    text-decoration: none;
}
.education .schools p{
    color: var(--text-color);
}

/*=================End education======================*/


/*=================Certificates======================*/
/* Style the tab */

/*=================End Certificates======================*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: yellowgreen; /* Set a background color */
    color: blue; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 30px; /* Rounded corners */
    font-size: 25px; /* Increase font size */
    
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: white;
  }
/*=================Hobbies======================*/

/*=================End Hobbies======================*/

@media(max-width:991px){
    
    header{
        left: -120%;
    }
    .card-content {
        padding: 100px 25px 25px;
        background: var(--toggle-color);
        overflow: auto;
        height: 100%;
        margin-left: 0px;
        color: #fff;
    }
    
    #menu{
        display: initial;
    }
    body{
        padding-left: 0;
    }
    header.toggle{
        left: 0%;
    }

    .about .info{
        color: var(--text-color);
        font-size: 1rem; 
        
    }
}

@media (max-width:650px){
    
    .heading{
        font-size: 2rem;
    }
    
    .btn,.button{
        font-size: .85rem;
        padding: .65rem 1.5rem;
    }
    .home{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    header .image-text img{
        width: 100;
        border-radius: 20%;
        
    }
    
    .about .bio img{
        width: 100%;
        height: 100%;
        border-radius: .5rem;
    }
    
}
@media (max-width:450px){
    
    header{
        width: 100%;
        height: 100%;
    }
    
    .about .bio img{
        width: 100%;
        height: 100%;   
    }
    
}